root
{
  background-color: rgb(51, 187, 255);
}
h1
{
  font-size: 2em;
  color: rgb(243, 197, 13);
}
h2, h3, h4
{
  color: blue;
}
nav
{
  width: 20vw;
  background-color:rgb(119, 51, 255);
  padding: 1em;
}
body
{
  font-family: 'Times New Roman', Times, serif;
}
p
{
  line-height: 1.6;
  margin: 1em 0;
  color: green;
}
img
{
  border: 2px;
  padding: 5px;
}
a
{
  color: rgb(255, 100, 51);
}
